* {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
:root {
  --Dark_Blue: hsl(233, 26%, 24%);
  --Lime_Green: hsl(136, 65%, 51%);
  --Bright_Cyan: hsl(192, 70%, 51%);
  --Grayish_Blue: hsl(233, 8%, 62%);
  --Light_Grayish_Blue: hsl(220, 16%, 96%);
  --Very_Light_Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);

  --liner_gradient: linear-gradient(
    to right,
    var(--Lime_Green),
    var(--Bright_Cyan)
  );
}
body {
  overflow-x: hidden;
}

header {
  background-color: var(--White);
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.logo,
.hamburger {
  padding: 1rem 0 1rem 0;
}

header nav,
header button {
  display: none;
}
main .mainImage {
  background: url("./images/bg-intro-mobile.svg") no-repeat;
  background-size: cover;
}
main img {
  width: 100%;
  margin-top: -20%;
}
.showcase {
  text-align: center;
  font-weight: bold;
  padding-bottom: 2rem;
}
.showcase h1,
.showcase p {
  margin: 5% 10% 0 10%;
  width: 85%;
  font-weight: 500;
}

.showcase p {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: var(--Grayish_Blue);
}
.showcase h1 {
  color: var(--Dark_Blue);
  font-size: 2em;
}

button {
  margin: 10%;
  width: auto;
  border: none;
  padding: 0.8rem 2rem 0.8rem 2rem;
  border-radius: 30rem;
  color: var(--White);
  font-weight: 600;
  font-size: 0.9rem;
  background: var(--liner_gradient);
  cursor: pointer;
}

button:hover {
  background: linear-gradient(to right,  hsl(136, 72%, 78%), hsl(192, 73%, 74%));
}


.whyChoose {
  background-color: var(--Light_Grayish_Blue);
  text-align: center;
}

section h2 {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 3rem 0 1rem 0;
  font-size: 2rem;
  text-align: center;
  color: var(--Dark_Blue);
}
section h4 {
  padding: 1.7rem 0 1.7rem 0;
  font-size: 1.2rem;
  color: var(--Dark_Blue);
}
section img {
  padding-top: 1.7rem;
}

section p {
  width: 90%;
  margin: 0 5% 0 5%;
  font-size: 0.8rem;
  color: var(--Grayish_Blue);
  font-weight: 500;
  line-height: 1.4rem;
}
section {
  padding-bottom: 3rem;
}

article h2 {
  width: 65%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 5rem 0 1rem 0;
  font-size: 1.7em;
  text-align: center;
  color: var(--Dark_Blue);
}
article {
  width: 100%;
  background-color: var(--Very_Light_Gray);
}
article .container {
  background-color: var(--White);
  width: 85%;
  margin: auto;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-top: 0;
}
article img {
  width: 100%;
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  margin: 0rem 0 0.4rem 0;
}

article .by {
  font-size: 0.6rem;
  margin: 1rem 0 1em 0;
  color: var(--Grayish_Blue);
  font-weight: bold;
}
article .des {
  padding-left: 1rem;
  padding-right: 1rem;
}

article h5 {
  margin: 1rem 0 1em 0;
  color: var(--Dark_Blue);
  font-size: 1rem;
}
article h5:hover {
  color: var(--Lime_Green);
  cursor: pointer;
}

article p {
  font-size: 0.7rem;
  margin: 1rem 0 1em 0;
  color: var(--Grayish_Blue);
  font-weight: 400;
  line-height: 1.1rem;
}

footer {
  text-align: center;
  background-color: var(--Dark_Blue);
  margin-top: 5rem;
  padding-bottom: 3rem;
}

footer .bottomLogo img {
  padding: 2rem 0 1rem 0;
}

footer .icon svg {
  margin-bottom: 1rem;
}

footer li a {
  text-decoration: none;
  color: var(--Light_Grayish_Blue);
  font-size: 0.8rem;
}
footer button {
  padding: 0.7rem 1.8rem 0.7rem 1.8rem;
}
footer li {
  padding: 0.5rem;
}

footer p {
  color: var(--Grayish_Blue);
  font-size: 0.8rem;
}

footer li a:hover {
  color: var(--Lime_Green);
}

.logo-hover:hover{
  fill:var(--Lime_Green);
}

/* //// for destop mode */
header nav ul {
  /* background-color: aqua; */
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 1.5rem 0 1.5rem 0;
}
header li a {
  text-decoration: none;
  color: var(--Grayish_Blue);
  padding-bottom: 0.7rem;
  /* font-weight: 400; */
}
header button {
  margin: 0;
  padding: 0.7rem 1.7rem;
}
header {
  justify-content: space-around;
}

header li a:hover {
  color: var(--Dark_Blue);
  border-bottom: 5px solid;
  border-image-slice: 1;
  border-image-source: var(--liner_gradient);
}


/* mediaquery */

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  header nav,
  header button {
    display: block;
  }

  main {
    display: flex;
    background-color: var(--Very_Light_Gray);
    /* overflow-x: hidden; */
    overflow-x: clip;
  }
 

  main .mainImage {
    background: none;
    background: url("./images/bg-intro-desktop.svg") no-repeat -1rem -10rem;
    /* background-color: aqua; */
    /* background-size: cover; */
    /* margin-top: ; */
    /* overflow-x: hidden; */
    

    width: 53%;
    padding-bottom: 6rem;
  }
  main img {
    /* margin-right: -17%; */
    width: 90%;
    margin-top: -7%;
    margin-bottom: -30%;
    margin-left: 23%;
    /* position: relative; */    
    /* height: 40rem; */
    /* margin-right: -50rem; */
    /* background-color: aqua; */
  }

  .showcase {
    /* background-color: aqua; */
    width: 40%;
    /* height: 25vw; */
    order: -1;
    margin: auto;
    margin-left: 7%;
    margin-top: 13%;
    text-align: start;
  }
 
  section {
    position: relative;
    z-index: -1;
  }

  section .chosetitle {
    width: 60%;
    text-align: start;
    padding: 4rem 0 2rem 0;
    margin-left: 11%;
  }
  section h2 {
    font-size: 2.4rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 1rem;
    text-align: start;
  }
  section p {
    margin-left: 0;
    font-size: 1rem;
    /* background-color: rgb(44, 81, 81); */
  }
  section .box h4{
  font-size: 1.4rem;
}
  section .box p{
    font-size: 1rem;
    font-weight: 500;
  }

  .biggerbox {
    display: flex;
    width: 85%;
    margin: auto;
    flex-wrap: wrap;
    margin-left: 11%;
    
    
  }
  .box {
    width: 270px;
    text-align: left;
    margin: 1rem;
    margin-left: 0;

  }
  .box p {
    font-size: 0.8rem;
  }
  article h2 {
    font-size: 2.4rem;
    text-align: start;
    margin-left: 11%;
    margin-bottom: 1rem;
  }
  article .box {
    width: 270px;
    margin:0 2% 8% 0;
  
  }
  article img {
    height: 10rem;
  }
  .des .by {
    font-size: 0.5rem;
  }
 
  footer {
    display: flex;
    padding-bottom: 2rem;
  }
  footer .leftfooter {
    width: 50%;
    display: flex;
    gap: 8rem;
    text-align: start;
    padding: 2% 7.5% 0 7.5%;
  }
  footer .bottomLogo img {
    padding: 1rem 0 2rem 0;
  }
  footer ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  footer li {
    list-style: none;
    text-align: start;
  }
  
  footer .rightfooter {
    width: 30%;
    padding-top: 3%;
    text-align: end;
  }
  footer li a {
    color: var(--Grayish_Blue);
    font-size: 0.9;
    font-weight: 800;
  }

  .rightfooter button {
    margin: 0 0 1rem 0;
    padding: 0.7rem 1.7rem 0.7rem 1.7rem;
  }
}


@media (min-width:1300px){
  .showcase h1 {
    font-size: 3em;
  }
  .showcase p {
    font-size: 1rem;
  }
}
